:root{
    --primary-color: blue;
    --secundary-color: gray;
    --background-color: white;
    --text-color: black;
    --link-color: rgb(0, 123, 145);
    --nav-bg-color: rgb(77, 77, 77);
    --footer-bg-color: rgb(92, 91, 91);
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header{
    background-color: var(--nav-bg-color);
    color: white;
    text-align: center;
    padding: 2px;
}

.menu-toogle, .menu-icon{
    display: none;
}